body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Pai{
    display: grid;
    height: 97vh;
    gap: .5rem;
    margin: .5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas: 
    "x1 x2 x3"
    ;
@media (min-width: 780px){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas: 
    "x1 x2 x3"
    "x4 x2 x5"
    "x4 x6 x5"
    ;
    }
@media (min-width: 1000px){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas: 
    "x1 x1 x2 x2"
    "x1 x1 x2 x2"
    "x1 x1 x4 x3"
    "x1 x1 x5 x3"
    ; 
    }

}
.x1{
    grid-area: x1;
    background-color: rgb(14, 14, 32);
}
.x2{
    grid-area: x2;
    background-color: rgb(188, 53, 53);
}
.x3{
    grid-area: x3;
    background-color: rgb(61, 98, 191);
}
.x4{
    grid-area: x4;
    background-color: rgb(133, 133, 226);
    display: none;
    @media (min-width: 780px){
        display: block;
    }
}
.x5{
    grid-area: x5;
    background-color: rgb(182, 182, 43);
    display: none;
    @media (min-width: 780px){
        display: block;
    }
}
.x6{
    grid-area: x6;
    background-color: rgb(55, 123, 55);
    display: none;
    @media (min-width: 780px){
    display: block;
    }
    @media (min-width: 1000px){
        display: none;
        }
}
.conteudo{
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

